    /*CSS3 assumed, fallbacks planned */
    
    :root {
        --container-style: solid;
        --container-color: transparent;
        --background-image: url('background.jpg')
        
        /*--container-style: dotted;
        --container-color: white;
        */
    }
    
    .background {
        background-image: var(--background-image);
        background-size: contain contain;
    }
    
    .q-grid {
        max-width: 100%;
        margin: 15px;
        border: 5px var(--container-style) var(--container-color);
        font-size: 0px;
        /* inline-block whitespace workaround */
    }
    
    .q-grid .q-inner {
        display: inline-block;
        border: 0px;
        margin: 0px;
        padding: 0px;
        max-width: 260px;
        /*currently max width of image resource*/
        font-size: 14px;
        /* inline-block whitespace workaround */
    }
    
    .q-grid .q-inner .q-cell {
        position: relative;
        overflow: hidden;
        border: 0px var(--container-style) var(--container-color);
    }

    .q-grid .q-inner img {
        position: relative;
        max-width: 95%;
        max-height: 100%;
        opacity: 0.90;
        /* For IE8 and earlier */
        filter: alpha(opacity=90);
    }
    
    .q-grid .q-inner img:hover {
        opacity: 1;
        /* For IE8 and earlier */
        filter: alpha(opacity=100);
        border: 0px outset black;
        -webkit-transition: 100ms linear 0s;
        -moz-transition: 100ms linear 0s;
        -o-transition: 100ms linear 0s;
        transition: 100ms linear 0s;
    }

    .q-grid .q-inner img:hover {
        border: 2px outset yellow;
    }

    .q-grid .q-inner button {
        z-index: 99;
        position: absolute;
        right: 10px;
        bottom: 0px;
    }
    
    .popover-content {
        width: 200px;
    }
    
    .q-grid .q-inner button {
        opacity: 1;
    }
    
    .q-grid .q-inner label {
        z-index: 1;
        color: rgba(255, 255, 255, 1);
        font-size: 14px;
        font-family: "Arial", sans-serif;
        font-style: bold;
        position: absolute;
        left: 20px;
        bottom: 20px;
        padding: 0px;
        border: 0px;
        margin: 0px;
    }

    a.glow, a.glow:hover, a.glow:focus {
        text-decoration: none;
        color: black;
        text-shadow: none;
        -webkit-transition: 500ms linear 0s;
        -moz-transition: 500ms linear 0s;
        -o-transition: 500ms linear 0s;
        transition: 500ms linear 0s;
        outline: 0 none;
    }

    a.glow:hover, a.glow:focus {
        color: #3F7FBF;
        text-shadow: -1px 1px 8px #ffc, 1px -1px 8px #fff;
    }
    
    